.blog-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 30px;

  list-style: none;

  @media (max-width: $tablet-width) {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
