.footer-social {
  flex-basis: 123px;
  margin: 0 0 10px auto;
  padding: 2px 0 0 0;

  list-style: none;


  @media (max-width: $tablet-width) {
    margin: 0 0 10px 0;
  }

  @media (max-width: $mobile-width) {
    display: flex;
    flex-basis: 100%;
    margin: 0;
    padding: 7px 0;
  }
}

.footer-social__item {
  margin-bottom: 12px;

  @media (max-width: $mobile-width) {
    margin-right: 18px;
  }
}

.footer-social__item:first-child {
  @media (max-width: $mobile-width) {
    margin-left: -9px;
  }
}

.footer-social__item a {
  display: flex;
  align-items: center;
  @include link-default(var(--contrast-type));

  @include font_poppins(16px, 21px, 500);
}

.footer-social__item span {
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.footer-social__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-right: 10px;

  @media (max-width: $mobile-width) {
    margin: 0;
  }
}


.footer-social__icon svg {
  margin-bottom: 2px;
  margin-left: 4px;

  fill: var(--contrast-icon);

  @media (max-width: $mobile-width) {
    margin: 0;
  }
}

.footer-social__icon--facebook svg {
  width: 8px;
  height: 15px;

  @media (max-width: $mobile-width) {
    width: 12px;
    height: 21px;
  }
}

.footer-social__icon--instagram svg {
  width: 15px;
  height: 15px;

  @media (max-width: $mobile-width) {
    width: 20px;
    height: 21px;
  }
}

.footer-social__icon--pinterest svg {
  width: 16px;
  height: 15px;

  @media (max-width: $mobile-width) {
    width: 20px;
    height: 21px;
  }
}

.footer-social__icon--twitter svg {
  width: 15px;
  height: 13px;

  @media (max-width: $mobile-width) {
    width: 20px;
    height: 18px;
  }
}
