.main-promo {
  position: relative;
  color: var(--contrast-type);

  background-color: var(--dark-theme);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  &::after {
    content: "";
    position: absolute;
    top: 0;
    z-index: 0;

    width: 100%;
    height: 100%;

    background-color: var(--dark-theme-opacity);
  }
}

.main-promo__img-wrapper {
  width: 100%;
  height: 463px;

  &--catalog {
    height: 261px;
  }
}

.main-promo__img-wrapper img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.main-promo__text-wrapper {
  position: absolute;
  top: 182px;
  right: 0;
  left: 0;
  z-index: 1;

  max-width: 1170px;
  margin: 0 auto;

  @media (max-width: $mobile-width) {
    top: 189px;
  }

  &--catalog {
    top: 91px;

    @media (max-width: $mobile-width) {
      top: 78px;

      padding: 0 20px;
    }
  }
}

.main-promo h2 {
  margin: 0 0 -7px 0;

  text-align: center;
  letter-spacing: 1.4px;

  @include font_cormorant(45px, 58px, 700);

  @media (max-width: $mobile-width) {
    letter-spacing: 1.1px;

    @include font_cormorant(38px, 49px, 700);
  }
}

.main-promo--catalog h2 {
  margin: 0 0 4px 0;

  letter-spacing: 0;

  @include font_cormorant(34px, 44px, 700);
}

.main-promo p {
  margin: 0 0 20px 0;

  text-align: center;

  @include font_cormorant_italic(38px, 49px, 400);


  @media (max-width: $mobile-width) {
    @include font_cormorant_italic(34px, 44px, 700);
  }
}

.main-promo--catalog p {
  @include font_cormorant_italic(22px, 26px, 500);
}
