.nav-list {
  @include list-style;
  padding-right: 30px;
  padding-left: 84px;

  @media (max-width: $tablet-width) {
    margin-bottom: 19px;
    padding: 0;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 9px;
  }
}

.nav-list__item {
  margin-right: 35px;
  margin-bottom: 10px;

  @media (max-width: $tablet-width) {
    margin: 0 0 21px 0;
  }
}

.nav-list__item a {
  @include font_poppins(16px, 24px, 500);
  @include link-default;

  @media (max-width: $tablet-width) {
    @include font_poppins(24px, 36px, 500);
    color: var(--contrast-type);
  }
}

.nav-list__extra {
  @include list-style;
  display: none;

  @media (max-width: $tablet-width) {
    display: flex;
    padding: 0;
  }
}

.nav-list__extra-item a {
  @include link-default;

  @media (max-width: $tablet-width) {
    @include font_poppins(18px, 23px, 500);
    color: var(--contrast-type);
  }
}

.nav-list__extra-item {
  @media (max-width: $tablet-width) {
    margin: 0 0 20px 0;
  }
}

.nav-list__extra-item--login {
  @media (max-width: $tablet-width) {
    margin-top: 25px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 15px;
  }
}

.nav-list__extra-item--login a {
  @media (max-width: $tablet-width) {
    @include font_poppins(18px, 23px, 500);
  }
}
