.page-footer {
  background-color: var(--dark-background);
}

.page-footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-top: 90px;
  padding-bottom: 57px;

  @media (max-width: $tablet-width) {
    padding-top: 50px;
    padding-bottom: 18px;
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 37px;
  }
}
