.page-header {
  position: relative;

  &::after {
    @include pseudo(100%, 1px);
    top: 114px;

    background-color: var(--light-border);

    @media (max-width: $tablet-width) {
      display: none;
    }
  }
}

.page-header__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 10px;

  @media (max-width: $tablet-width) {
    align-items: center;
    padding-bottom: 26px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 19px;
    padding-bottom: 17px;
  }
}

.page-header__link-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-top: -25px;

  @media (max-width: $tablet-width) {
    width: auto;
    margin-top: 0;
  }
}

.page-header__wrapper--page {
  justify-content: center;
}

.page-header__logo {
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 66px;
    height: 66px;

    fill: var(--main-theme);
    // stroke: var(--main-theme);


    @media (max-width: $tablet-width) {
      margin-left: -5px;
    }

    @media (max-width: $mobile-width) {
      width: 52px;
      height: 52px;
    }
  }

  &--menu svg {
  @media (max-width: $tablet-width) {
    fill: var(--contrast-icon);
    // stroke: var(--contrast-icon);
  }
  }
}

.page-header--menu {
  @media (max-width: $tablet-width) {
    position: relative;

    background-color: var(--main-theme);
  }
}
