.user-area__login-link {
  margin-left: 35px;
  padding-top: 12px;
  padding-bottom: 12px;
  @include link-default;

  @include font_poppins(14px, 21px, 500);

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.user-area__cart-text {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.user-area__cart {
  margin-left: 35px;
  padding-top: 12px;
  padding-bottom: 12px;
  @include link-default;

  @include font_poppins(14px, 21px, 500);

  @media (max-width: $tablet-width) {
    margin: 0;
    padding: 0;
  }


  svg {
    display: none;
    width: 20px;
    height: 18px;

    fill: none;
    stroke: var(--basic-icon);

    @media (max-width: $tablet-width) {
      display: block;
      margin-top: -4px;
      margin-right: -1px;
    }
  }

  &--menu svg {
    stroke: var(--contrast-icon);
  }
}
