@mixin font_poppins($size, $line_height, $weight) {
  font-weight: $weight;
  font-size: $size;
  line-height: $line_height;
  font-family: "Poppins", "Arial", "Helvetica", sans-serif;
}

@mixin font_cormorant($size, $line_height, $weight) {
  font-weight: $weight;
  font-size: $size;
  line-height: $line_height;
  font-family: "Cormorant Garamond", "Georgia", "Times New Roman", serif;
}

@mixin font_cormorant_italic($size, $line_height, $weight) {
  font-style: italic;
  font-weight: $weight;
  font-size: $size;
  line-height: $line_height;
  font-family: "Cormorant Garamond", "Georgia", "Times New Roman", serif;
}

@mixin list-style($padding:0, $margin:0, $list-style:none) {
  padding: $padding;
  margin: $margin;
  list-style: $list-style;
}

@mixin link-default($color:var(--basic-type), $text-decoration:none) {
  color: $color;
  text-decoration: $text-decoration;
}

@mixin pseudo($width, $height) {
  position: absolute;
  content: "";
  width: $width;
  height: $height;
}
